body,
html {
	width: 100%;
	height: 100%
}

.black {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 9999;
}

.black .title {
	width: 500px;
}


.button {
	width: 100px;
	margin-top: 20px;
	cursor: pointer;
}

.start {
	display: flex;
}

.end {
	display: none;
}


.background {
	position: relative;
	width: 100%;
	min-width: 1280px;
	height: 100%;
	background: url(../img/background1.png) no-repeat center/cover;
}

.scene {
	position: relative;
	width: 100%;
	height: 100%;
}

/* Simulate button */

.btn {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.computer {
	top: 27%;
	left: 50%;
	width: 30%;
	height: 22%;
}

.bad {
	bottom: 0;
	left: 0;
	width: 27%;
	height: 39%;
}

/* Cound down */
.countdown-box {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 200px;
	height: 65px;
	background: url(../img/RemainTime.png) no-repeat center/contain;
	cursor: pointer;
	z-index: 10;
}

.countdown {
	position: absolute;
	left: 124px;
	/* font-family: fantasy;
	font-size: 25px; */
	font: 25px fantasy;
	color: #F1D145;
	line-height: 55px;
}

/* Quit button */
.quit {
	position: absolute;
	bottom: 5%;
	left: 3%;
	width: 40px;
	text-align: center;
	font-family: fantasy;
	color: #fff;
	z-index: 10;
	cursor: pointer;
}

.quit img {
	width: 100%;
}

.shade {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, .4);
	z-index: 10;
}


.dialog3 .content {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 380px;
	height: 420px;
	background-color: dimgray;
	border-radius: 30px;
	transform: translate(-50%, -50%);
}

.dialog3 header {
	height: 153px;
	background: url(../img/menu.png) no-repeat center/70%;
}

.dialog3 .btn1 {
	display: block;
	width: 200px;
	height: 100px;
	margin: 10px auto;
	cursor: pointer;
}

.dialog3 .reset {
	background: url(../img/reset.png) no-repeat center/100%;
}

.dialog3 .view-task {
	background: url(../img/viewTask.png) no-repeat center/100%;
}


.tipImg {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.tip1 .agrypnia {
	width: 200px;
	border-radius: 28px;
}

.scene2 {
	display: none;
}


.man {
	top: 50%;
	left: 33%;
	width: 102px;
	height: 227px;
}


.scene2-tip2 {
	width: 250px;
	border-radius: 40px;
}
